body{
    background-color: rgb(222, 222, 222) !important;
}

h1{
    font-family: 'Raleway', sans-serif !important;
    font-size: 220% !important;
    font-weight: 900!important;
}
h2{
    font-family: 'Raleway', sans-serif !important;
    font-size: 150% !important;
    font-weight: 300 !important;
}

h3{
    font-family: 'Raleway', sans-serif !important;
    font-size: 120% !important;
    font-weight: 600 !important;
}

h4{
    font-family: 'Raleway', sans-serif !important;
    font-size: 100% !important;
    font-weight: 300 !important;
}

li{
    font-family: 'Raleway', sans-serif !important;
    font-size: 100% !important;
    font-weight: 300 !important;
    font-style: normal !important;
}

#projects div a{
    font-family: 'Raleway', sans-serif !important;
    font-size: 120% !important;
    font-weight: 600 !important;
    color: #000 !important;
}

.social{
    text-align: center;
    color:black;
}

.cv{
    margin-top: 10vh;
}

.infolist:hover{
    background-color: #333;
    color: white;
    webkit-transition: width 2s; /* Safari */
    transition: background-color 0.5s, color 0.5s;
}

.info{
    text-align: center;
}

.info p{
    margin: 0;
    position: absolute;
    top: 50%;
    width:100%;
    padding-right: 2vw;
    transform: translate(0, -50%);
    text-align: right !important;
}

.fa-linkedin:hover{
    color: #0077B5;
    webkit-transition: width 2s; /* Safari */
    transition: color 0.3s;
}

.fa-twitter:hover{
    color: #00aced;
    webkit-transition: width 2s; /* Safari */
    transition: color 0.3s;
}

.fa-github:hover{
    color: #333;
    webkit-transition: width 2s; /* Safari */
    transition: color 0.3s;
}

.summary{
    color: rgb(132, 132, 132) !important;
}

.description{
    color: rgb(132, 132, 132) !important;
    font-size: 120% !important;
}

.left_column{
    margin-right: 1vw;
    padding: 0 !important;
}

.right_column{
    background-color: white !important;
}

#profile_image{
    width: 100%;
}

#qr{
    width: 100%;
}

.heading{
    font-weight: 900 !important;
}

.links{
    display: inline;
}

.links img{
    width: 100%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
}

.contact_qr:hover .overlay {
    opacity: 1;
}